.countries{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}
.country{
    border: 3px solid #030200;
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(212, 179, 126);
}
.country img{
    width: 200px;
    display: inline-block;
}